#title {
    text-align: center;
}

#imageListItems {
    text-align: center;
    list-style: none;
}

#checked_order {
    text-align: center;
    color: #8B0000;
    height: 30px;
    padding: 1px;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #e7e7e7;
    color: black;
    padding: 5px 10px;
    margin-bottom: 10px;
}

img {
    width: 200px;
    height: 300px;
}

.imageList {
    margin: 3px 3px 3px 0;
    padding: 1px;
    width: 200px;
    height: 300px;
    font-size: 4em;
    border: solid 3px;
    background-color: #F8F8FF;
    display: inline-block;
}
